.Main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  place-content: space-between;
  background-color: #f6faf9;
}

.MiddleSection {
  display: flex;
  gap: 3rem;
}

.Menu {
  display: flex;
  gap: 3rem;
}

.Item {
  place-self: center;
}

.LeftSection {
  display: flex;
  margin: 1rem;
  gap: .5rem;
}

.SignIn,.SignUp {
  place-self: center;
  border-radius: .5rem;
  padding: .7rem 1.2rem;
  cursor: pointer;
}

.SignIn {
  color: #399aa0;
  border: #399aa0 1px solid;
  background-color: transparent;
}

.SignUp {
  background-color: #399aa0;
  border: none;
  color: white;
}