.Main {
  display: flex;
  place-content: space-between;
  background-color: #f6faf9;
  width: 100%;
}

.MiddleSection {
  display: flex;
  gap: 3rem;
}

.Menu {
  display: flex;
  gap: 3rem;
}

.Item {
  place-self: center;
}

.LeftSection {
  display: flex;
  margin: 1rem;
  gap: 0.5rem;
}

.SignIn,
.SignUp {
  place-self: center;
  border-radius: 0.5rem;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
}

.SignIn {
  color: #399aa0;
  border: #399aa0 1px solid;
  background-color: transparent;
}

.SignUp {
  background-color: #399aa0;
  border: none;
  color: white;
}

.Bars {
  color: #399aa0;
  place-self: center;
  margin: 1rem;
  display: none;
  cursor: pointer;
}

@media (max-aspect-ratio: 1/1) {
  .Main {
    width: unset;
  }

  .Menu {
    display: none;
  }

  .SignIn,
  .SignUp {
    padding: 0.4rem .7rem;
  }

  .Bars {
    display: block;
  }
}
