.ColorPalate {
  color: #f6faf9;
  color: #399aa0;
  color: #0a3747;
  /* Text */
  color: #b9bdc0;
}

/* 
#f6faf9
#399aa0
#0a3747
#b9bdc0
*/

.Main {
  background-color: #f6faf9;
  height: 85dvh;
}

.FirstRow {
  display: flex;
  width: calc(100dvw - 4rem -10vw);
  place-content: space-evenly;
  padding: 2rem;
}

.Img {
  height: 35vw;
  width: 35vw;
}

.FirstRowTextSection {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.Title {
  color: #0a3747;
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
}

.WTitle {
  color: #f6faf9;
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
}

.Subtitle {
  color: #0a3747;
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0;
}

.WSubtitle {
  color: #f6faf9;
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0;
}

.Text {
  color: #b9bdc0;
}

.StartRow {
  display: flex;
  gap: 0.5rem;
}

.StartButton {
  border: #399aa0 1px solid;
  place-self: center;
  border-radius: 0.5rem;
  padding: 0.7rem 1.2rem;
  background-color: #399aa0;
  color: white;
  cursor: pointer;
  height: 3rem;
  display: flex;
  place-content: space-around;
  gap: 1rem;
  padding: 0 1rem;
  width: 25vh;
}

.BuyButton {
  border: #399aa0 1px solid;
  place-self: center;
  border-radius: 0.5rem;
  padding: 0.7rem 1.2rem;
  color: #399aa0;
  background-color: transparent;
  cursor: pointer;
  height: 3rem;
  place-content: space-around;
  padding: 0 1rem;
  width: 25vh;
}

.ArrowIcon {
  height: 1.5rem;
  width: 1.5rem;
  place-self: center;
}

.Icons {
  display: flex;
  gap: 1.5rem;
  margin: 1.5rem;
}

.IconItem {
  display: flex;
  gap: 0.5rem;
}

.IconImg {
  height: 6vh;
  width: 6vh;
  place-self: center;
  gap: 0.5rem;
}

.IconText {
  margin: 0;
  place-self: center;
  color: #0a3747;
  font-size: 1.5rem;
  font-weight: 800;
}

.ButtonText {
  place-self: center;
}

.Edge {
  width: 100%;
  height: 10vh;
  background-image: url("./../public/Seperation/edge.svg");
  position: absolute;
}

.DarkPage {
  background: linear-gradient(to bottom, #0a3747 0, #0a3747 15vh, #399aa0 100%);
  width: 100vw;
  height: 148vh;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.DarkPageBoxView {
  background-color: #0a3747;
  width: calc(100vw - 3rem);
  height: 80vh;
  padding-top: 5vh;
  align-self: center;
  margin-top: -15vh;
  border-radius: 2rem;
}

.Newspaper {
  display: flex;
  flex-direction: column;
}

.NTitle {
  color: #f6faf9;
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
}

.JoinRow {
  display: flex;
}

.Inp {
  height: 3rem;
  border: #f6faf9 1px solid;
  border-radius: 0.5rem;
  margin-left: -1rem;
  padding: 0 1rem;
  background-color: #0a3747;
  width: 40vw;
}

.Join {
  place-self: center;
  border-radius: 0.5rem;
  padding: 0.7rem 1.2rem;
  background-color: #f6faf9;
  color: #0a3747;
  cursor: pointer;
  height: calc(3rem + 2px);
  padding: 0 1rem;
  width: 15vh;
  border: none;
}

.Footer {
  display: flex;
  background-color: #f6faf9;
  width: calc(100vw - 3rem);
  align-self: center;
  border-radius: 2rem;
  flex-direction: column;
}

.FooterUp {
  display: flex;
  width: 80%;
  margin: 0 10%;
  border-bottom: #cacfd3 1px solid;
  height: 20vh;
  place-content: space-between;
  align-items: center;
  margin-top: 5vh;
}

.FooterMiddle {
  display: flex;
  margin: 0 10%;
  place-content: space-between;
  padding: 1rem 0;
  border-bottom: #cacfd3 1px solid;
}

.MiddleList {
  display: flex;
  place-content: center;
  flex-direction: column;
  height: fit-content;
  gap: 0.5rem;
}

.MiddleLists {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.MiddleHeader {
  font-style: bold;
  margin: 0;
}

.MiddleItem {
  color: #646464;
  cursor: pointer;
  margin: 0;
}

.ContactUs {
  display: flex;
  align-self: center;
  gap: 0.8rem;
}

.ConnectionButton {
  height: 0.9rem;
  width: 0.9rem;
  padding: 0.4rem;
  border: #0a3747 1px solid;
  color: #0a3747;
  border-radius: 1000px;
  cursor: pointer;
}

.FooterBottom {
  display: flex;
  place-content: space-between;
  margin: 0 10% 5vh 10%;
  font-size: smaller;
  height: 10vh;
  align-items: center;
}

.BottomLinks {
  display: flex;
  color: #646464;
  gap: 1rem;
}

.BottomLink {
  margin: 0;
}

.BottomText {
  color: #646464;
  margin: 0;
}

@media (max-aspect-ratio: 1/1) {
  .Img {
    display: none;
  }

  .Title,
  .NTitle {
    font-size: 1.5rem;
  }

  .Subtitle {
    font-size: 1.1rem;
  }

  .FirstRowTextSection {
    width: 100%;
  }

  .IconText {
    font-size: 1rem;
  }

  .IconImg {
    height: 4vh;
    width: 4vh;
  }

  .Icons {
    margin: 1rem 0;
  }

  .Edge {
    background-image: url(./../public/Seperation/edgeMobile.svg);
  }

  .DarkPage {
    height: 157vh;
    gap: 1rem;
  }

  .DarkPageBoxView {
    width: calc(100vw - 1.5rem);
  }

  .Footer {
    width: calc(100vw - 1.5rem);
  }

  .FooterUp {
    flex-direction: column;
  }

  .FooterMiddle {
    flex-direction: column;
    gap: 2rem;
  }

  .FooterBottom {
    flex-direction: column;
    height: 10vh;
    padding: 1rem 0;
    font-size: .7rem;
  }
}
